## Simpler Returns - Part I

Download the data for Microsoft (‘MSFT’) from Yahoo Finance for the period ‘2000-1-1’ until today.

In [1]:
import yfinance as yf
import pandas as pd
import numpy as np

microsoft = yf.download('MSFT', start='2000-01-01')

[*********************100%%**********************]  1 of 1 completed

Apply the .**head()** and **.tail()** methods to check if the data is ok. Always pay attention to the dates. Try to get an idea about how the stock price changed during the period.

In [2]:
microsoft.head()

                Open     High       Low     Close  Adj Close    Volume
Date
2000-01-03  58.68750  59.3125  56.00000  58.28125  35.935863  53228400
2000-01-04  56.78125  58.5625  56.12500  56.31250  34.721935  54119000
2000-01-05  55.56250  58.1875  54.68750  56.90625  35.088047  64059600
2000-01-06  56.09375  56.9375  54.18750  55.00000  33.912663  54976600
2000-01-07  54.31250  56.1250  53.65625  55.71875  34.355831  62013600

In [3]:
microsoft.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-08-26,416.369995,417.279999,411.339996,413.489990,413.489990,13152800
2024-08-27,412.859985,414.359985,410.250000,413.839996,413.839996,13492900
2024-08-28,414.880005,415.000000,407.309998,410.600006,410.600006,14882700
2024-08-29,414.940002,422.049988,410.600006,413.119995,413.119995,17045200
2024-08-30,415.600006,417.489990,412.130005,417.140015,417.140015,24298300

### Simple Rate of Return

Calculate the simple returns of ‘MSFT’ for the given timeframe.

$$
\frac{P_1 - P_0}{P_0} = \frac{P_1}{P_0} - 1
$$

In [4]:
simple_return = (microsoft['Adj Close'] / microsoft['Adj Close'].shift(1)) - 1

In [5]:
print(simple_return)

Date
2000-01-03         NaN
2000-01-04   -0.033780
2000-01-05    0.010544
2000-01-06   -0.033498
2000-01-07    0.013068
                ...
2024-08-26   -0.007918
2024-08-27    0.000846
2024-08-28   -0.007829
2024-08-29    0.006137
2024-08-30    0.009731
Name: Adj Close, Length: 6205, dtype: float64

In [10]:
print(str(round(simple_return.mean()*250*100, 3)) + '%')

14.439%