## Simpler Returns - Part I

Download the data for Microsoft (‘MSFT’) from Yahoo Finance for the period ‘2000-1-1’ until today.

In [2]:
import numpy as np
import pandas as pd
import yfinance as yf


microsoft = yf.download('MSFT', start='2000-1-1')

[*********************100%%**********************]  1 of 1 completed

Apply the .**head()** and **.tail()** methods to check if the data is ok. Always pay attention to the dates. Try to get an idea about how the stock price changed during the period.

In [3]:
microsoft.head()

                Open     High       Low     Close  Adj Close    Volume
Date
2000-01-03  58.68750  59.3125  56.00000  58.28125  35.935860  53228400
2000-01-04  56.78125  58.5625  56.12500  56.31250  34.721958  54119000
2000-01-05  55.56250  58.1875  54.68750  56.90625  35.088043  64059600
2000-01-06  56.09375  56.9375  54.18750  55.00000  33.912643  54976600
2000-01-07  54.31250  56.1250  53.65625  55.71875  34.355835  62013600

In [4]:
microsoft.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-08-12,407.059998,408.760010,404.239990,406.809998,406.078064,16762900
2024-08-13,409.589996,414.950012,409.570007,414.010010,413.265137,19414300
2024-08-14,414.799988,417.720001,412.450012,416.859985,416.109985,18267000
2024-08-15,419.799988,421.109985,417.660004,421.029999,421.029999,20752100
2024-08-16,420.850006,421.339996,417.299988,419.040009,419.040009,13470852

### Simple Rate of Return

Calculate the simple returns of ‘MSFT’ for the given timeframe.

$$
\frac{P_1 - P_0}{P_0} = \frac{P_1}{P_0} - 1
$$

In [13]:
microsoft['simple_return'] = (microsoft['Adj Close'] / microsoft['Adj Close'].shift(1)) - 1
print (microsoft)

                  Open        High         Low       Close   Adj Close  \
Date
2000-01-03   58.687500   59.312500   56.000000   58.281250   35.935860
2000-01-04   56.781250   58.562500   56.125000   56.312500   34.721958
2000-01-05   55.562500   58.187500   54.687500   56.906250   35.088043
2000-01-06   56.093750   56.937500   54.187500   55.000000   33.912643
2000-01-07   54.312500   56.125000   53.656250   55.718750   34.355835
...                ...         ...         ...         ...         ...
2024-08-12  407.059998  408.760010  404.239990  406.809998  406.078064
2024-08-13  409.589996  414.950012  409.570007  414.010010  413.265137
2024-08-14  414.799988  417.720001  412.450012  416.859985  416.109985
2024-08-15  419.799988  421.109985  417.660004  421.029999  421.029999
2024-08-16  420.850006  421.339996  417.299988  419.040009  419.040009

              Volume  simple_return
Date
2000-01-03  53228400            NaN
2000-01-04  54119000      -0.033780
2000-01-05  64059600       0.010543
2000-01-06  54976600      -0.033499
2000-01-07  62013600       0.013069
...              ...            ...
2024-08-12  16762900       0.001946
2024-08-13  19414300       0.017699
2024-08-14  18267000       0.006884
2024-08-15  20752100       0.011824
2024-08-16  13470852      -0.004726

[6195 rows x 7 columns]